<section id="login" class="mb-5 mt-5">
  <div class="container">
    <div  >
      <div >
        <div  >
          <div class="card" style="background: #e2eff7">
            <div class="card-body text-center">
              <form [formGroup]="signupForm" (ngSubmit)="salvarProfessor(); $event.preventDefault()">
                  <div style="background:  #e2eff7;">
                      <img style="background:  #e2eff7; width: 30%;" src="../assets/img/Login.jpg"/>
                    </div><br>
                <h1 class="h3 mb-3 font-weight-normal" *ngIf="!isError" style="color:bla"><b>Editar Professor</b></h1>
                <div class="alert alert-danger" role="alert" *ngIf="isError">
                  Something is wrong!
                </div>
                <fieldset disabled>

                      <div class="form-group">
                        <label for="typeInput">Tipo do usuário</label>
                        <input type="text" id="typeInput" class="form-control" placeholder="Professor" formControlName="usuario" value="professor">
                      </div>
                </fieldset>
                <div class="form-group">
                  <input type="text" class="form-control"   placeholder="Name" formControlName="name">
                </div>
                <div class="form-group">
                  <input type="text" class="form-control"  placeholder="Faculdade ou Colegio" formControlName="ra" >
                </div>
                <div class="row">
                  <div class="col-md-3" >
                     <label for="curso" class="control-label">curso</label>
                     <select class="form-control" id="selectCurso0" formControlName="Curso0">
                       <option *ngFor="let path of paths | async" [value]="path.curso">{{ path.curso }}</option>
                     </select>
                  </div>
                  <div class="col-md-3" >
                      <label for="curso" class="control-label">Período</label>
                      <select class="form-control" id="SelectPeriodo0" formControlName="Periodo0">
                       <option *ngFor="let path of paths | async" [value]="path.periodo">{{ path.periodo }}</option>
                       </select>
                    </div>
                   <div class="col-md-3" >
                       <label for="curso" class="control-label">Disciplina</label>
                       <fieldset disabled>
                          <select class="form-control" id="selectMateria0" formControlName="Materia0">
                              <option *ngFor="let path of paths | async" value="{{path.materia}}">{{ path.materia }}</option>
                              </select>
                       </fieldset>
                       <select class="form-control" id="selectMateria0" formControlName="Materia0">
                       <option *ngFor="let path of paths | async"  value="{{path.materia}}_{{path.key}}">{{ path.materia }}</option>
                       </select>
                   </div>
                 </div>
                 <br>
                 <div class="row">
                  <div class="col-md-3" >
                     <select class="form-control" id="selectCurso1" formControlName="Curso1">
                       <option *ngFor="let path of paths | async" [value]="path.curso">{{ path.curso }}</option>
                     </select>
                  </div>
                  <div class="col-md-3" >
                       <select class="form-control" id="SelectPeriodo1" formControlName="Periodo1">
                       <option *ngFor="let path of paths | async" [value]="path.periodo">{{ path.periodo }}</option>
                       </select>
                    </div>
                   <div class="col-md-3" >
                      <fieldset disabled>
                          <select class="form-control" id="selectMateria1" formControlName="Materia1">
                              <option *ngFor="let path of paths | async" value="{{path.materia}}">{{ path.materia }}</option>
                              </select>
                       </fieldset>
                       <select class="form-control" id="selectMateria1" formControlName="Materia1">
                       <option *ngFor="let path of paths | async"  value="{{path.materia}}_{{path.key}}">{{ path.materia }}</option>
                       </select>
                   </div>
                 </div>
                 <br>
                 <div class="row">
                   <div class="col-md-3" >
                      <select class="form-control" id="selectCurso2" formControlName="Curso2">
                        <option *ngFor="let path of paths | async" [value]="path.curso">{{ path.curso }}</option>
                      </select>
                   </div>
                   <div class="col-md-3" >
                        <select class="form-control" id="SelectPeriodo2" formControlName="Periodo2">
                        <option *ngFor="let path of paths | async" [value]="path.periodo">{{ path.periodo }}</option>
                        </select>
                     </div>
                    <div class="col-md-3" >
                        <fieldset disabled>
                            <select class="form-control" id="selectMateria2" formControlName="Materia2">
                                <option *ngFor="let path of paths | async" value="{{path.materia}}">{{ path.materia }}</option>
                                </select>
                         </fieldset>
                        <select class="form-control" id="selectMateria2" formControlName="Materia2">
                        <option *ngFor="let path of paths | async"  value="{{path.materia}}_{{path.key}}">{{ path.materia }}</option>
                        </select>
                    </div>
                  </div>
                  <br>
                  <div class="row">
                   <div class="col-md-3" >
                      <select class="form-control" id="selectCurso3" formControlName="Curso3">
                        <option *ngFor="let path of paths | async" [value]="path.curso">{{ path.curso }}</option>
                      </select>
                   </div>
                   <div class="col-md-3" >
                        <select class="form-control" id="SelectPeriodo3" formControlName="Periodo3">
                        <option *ngFor="let path of paths | async" [value]="path.periodo">{{ path.periodo }}</option>
                        </select>
                     </div>
                    <div class="col-md-3" >
                        <fieldset disabled>
                            <select class="form-control" id="selectMateria3" formControlName="Materia3">
                                <option *ngFor="let path of paths | async" value="{{path.materia}}">{{ path.materia }}</option>
                                </select>
                         </fieldset>
                        <select class="form-control" id="selectMateria3" formControlName="Materia3">
                        <option *ngFor="let path of paths | async"  value="{{path.materia}}_{{path.key}}">{{ path.materia }}</option>
                        </select>
                    </div>
                  </div>
                  <br>
                  <div class="row">
                   <div class="col-md-3" >
                      <select class="form-control" id="selectCurso4" formControlName="Curso4">
                        <option *ngFor="let path of paths | async" [value]="path.curso">{{ path.curso }}</option>
                      </select>
                   </div>
                   <div class="col-md-3" >
                        <select class="form-control" id="SelectPeriodo4" formControlName="Periodo4">
                        <option *ngFor="let path of paths | async" [value]="path.periodo">{{ path.periodo }}</option>
                        </select>
                     </div>
                    <div class="col-md-3" >
                        <fieldset disabled>
                            <select class="form-control" id="selectMateria4" formControlName="Materia4">
                                <option *ngFor="let path of paths | async" value="{{path.materia}}">{{ path.materia }}</option>
                                </select>
                         </fieldset>
                        <select class="form-control" id="selectMateria4" formControlName="Materia4">
                        <option *ngFor="let path of paths | async"  value="{{path.materia}}_{{path.key}}">{{ path.materia }}</option>
                        </select>
                    </div>
                  </div>
                  <br>
                  <div class="row">
                   <div class="col-md-3" >
                      <select class="form-control" id="selectCurso5" formControlName="Curso5">
                        <option *ngFor="let path of paths | async" [value]="path.curso">{{ path.curso }}</option>
                      </select>
                   </div>
                   <div class="col-md-3" >
                        <select class="form-control" id="SelectPeriodo5" formControlName="Periodo5">
                        <option *ngFor="let path of paths | async" [value]="path.periodo">{{ path.periodo }}</option>
                        </select>
                     </div>
                    <div class="col-md-3" >
                        <fieldset disabled>
                            <select class="form-control" id="selectMateria5" formControlName="Materia5">
                                <option *ngFor="let path of paths | async" value="{{path.materia}}">{{ path.materia }}</option>
                                </select>
                         </fieldset>
                        <select class="form-control" id="selectMateria5" formControlName="Materia5">
                        <option *ngFor="let path of paths | async"  value="{{path.materia}}_{{path.key}}">{{ path.materia }}</option>
                        </select>
                    </div>
                  </div>
                  <br>
                  <div class="row">
                   <div class="col-md-3" >
                      <select class="form-control" id="selectCurso6" formControlName="Curso6">
                        <option *ngFor="let path of paths | async" [value]="path.curso">{{ path.curso }}</option>
                      </select>
                   </div>
                   <div class="col-md-3" >
                        <select class="form-control" id="SelectPeriodo6" formControlName="Periodo6">
                        <option *ngFor="let path of paths | async" [value]="path.periodo">{{ path.periodo }}</option>
                        </select>
                     </div>
                    <div class="col-md-3" >
                        <fieldset disabled>
                            <select class="form-control" id="selectMateria6" formControlName="Materia6">
                                <option *ngFor="let path of paths | async" value="{{path.materia}}">{{ path.materia }}</option>
                                </select>
                         </fieldset>
                        <select class="form-control" id="selectMateria6" formControlName="Materia6">
                        <option *ngFor="let path of paths | async"  value="{{path.materia}}_{{path.key}}">{{ path.materia }}</option>
                        </select>
                    </div>
                  </div>
                  <br>
                  <div class="row">
                   <div class="col-md-3" >
                      <select class="form-control" id="selectCurso7" formControlName="Curso7">
                        <option *ngFor="let path of paths | async" [value]="path.curso">{{ path.curso }}</option>
                      </select>
                   </div>
                   <div class="col-md-3" >
                        <select class="form-control" id="SelectPeriodo7" formControlName="Periodo7">
                        <option *ngFor="let path of paths | async" [value]="path.periodo">{{ path.periodo }}</option>
                        </select>
                     </div>
                    <div class="col-md-3" >
                        <fieldset disabled>
                            <select class="form-control" id="selectMateria7" formControlName="Materia7">
                                <option *ngFor="let path of paths | async" value="{{path.materia}}">{{ path.materia }}</option>
                                </select>
                         </fieldset>
                        <select class="form-control" id="selectMateria7" formControlName="Materia7">
                        <option *ngFor="let path of paths | async"  value="{{path.materia}}_{{path.key}}">{{ path.materia }}</option>

                        </select>
                    </div>
                  </div>
                  <br>
                 <!--<button type="submit" class="btn btn-lg btn-success" [disabled]="signupForm.invalid">Cadastrar</button>-->
                <button type="submit" class="btn btn-lg btn-success" >Cadastrar</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
</section>
